SalarySystem/SalaryUWP/Connected Services/DbServiceReference/DbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59253/DbService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59253/DbService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbService_AdminAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminAuth" />
  </wsdl:message>
  <wsdl:message name="IDbService_AdminAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_UserAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:message name="IDbService_UserAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IDbService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IDbService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbService">
    <wsdl:operation name="AdminAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/AdminAuth" message="tns:IDbService_AdminAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/AdminAuthResponse" message="tns:IDbService_AdminAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/UserAuth" message="tns:IDbService_UserAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/UserAuthResponse" message="tns:IDbService_UserAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/CreateUser" message="tns:IDbService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/CreateUserResponse" message="tns:IDbService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/DeleteUser" message="tns:IDbService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/DeleteUserResponse" message="tns:IDbService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbService" type="tns:IDbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminAuth">
      <soap:operation soapAction="http://tempuri.org/IDbService/AdminAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuth">
      <soap:operation soapAction="http://tempuri.org/IDbService/UserAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IDbService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IDbService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbService">
    <wsdl:port name="BasicHttpBinding_IDbService" binding="tns:BasicHttpBinding_IDbService">
      <soap:address location="http://localhost:59253/DbService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>